* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin Sketch", sans-serif;

}

/* ----------- mobile ------------ */

/* main */

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    max-height: 15vh;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    flex: 1;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    color: green;
    font-weight: 700;
    font-size: 6vh;
    padding-bottom: 2vh;
}

button {
    background-color: green;
    padding: 1vh 3vw;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: -6vh;
    margin-bottom: -3vh;
    z-index: 10;
    opacity: 0.95;
}

button:hover {
    background-color: black;
}

button:active {
    background-color: limegreen;
}

/* index */

a {
    text-decoration: none;
}

.routes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.index-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80vw;
    padding: 1rem 1rem 3rem 1rem;
    margin-bottom: 3vh;
    border: 2px solid #333;
    border-radius: 7px;
    box-shadow: 10px 10px 5px 0px #333;
}

.close {
    display: flex;
    justify-content: center;
    margin: 2vh 0 2vh 0;
}

/* messages */

.msg-card {
    display: flex;
    flex-direction: column;
}

.msg {
    align-content: center;
    text-align: center;
    padding: 1vh 1vw;
    font-weight: 700;     
}

.msg-container p {
    padding: 3vh;
    border-radius: 10px;
    font-size: 1.2rem;
}

.msg-container h1 {
    height: 70vh;
    align-content: center;
}

.basil p, .basil a, .basil h2 {
    color: #e77d22;
}

.lily p, .lily a, .lily h2 {
    color: magenta;
}

.fern p, .fern a, .fern h2 {
    color: #21bc21;
}

.msg-container a {
    text-decoration: none;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container p {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;

}


video {
    max-height: 70vh;
    max-width: 95vw;
}

.scroll {
    height: 10vh;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2vh;
}

.msg-card {
    min-height: 90vh;
    flex-direction: column-reverse;
}

.video-container {
    height: 97vh;
}


/* -------- large screens -------------- */

@media only screen and (min-width: 900px) {
   .wrapper {
    height: 100vh;
   }
   
    h1 {
        font-size: 12vh;
    }

    .image-container {
        flex-direction: row;
        justify-content: space-between;
        max-height: 85vh;    
    }

    .image {
        display: flex;
        justify-content: center;
        max-height: 100%;
        padding: 0 0.5vw;
    }

    .image2 {
        padding-bottom: 5vh;
    }

    button {
        margin: 0 1vw;
        padding: 1vh 1vw;
    }

    /* index */

    .routes-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .index-card {
        max-width: 20vw;
        text-align: center;
        margin-bottom: 2vh;
    }

    /* messages */

    .msg-container h1 {
        height: 80vh;
        align-content: center;
    }

    .msg-container .lily {
        height: 100vh;
    }

    .msg-card {
        flex-direction: row;
    }

    .msg-card p {
        font-size: 2rem;
    }

    .msg-card img {
        height: 97vh;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .msg {
        max-width: 45vw;
    }

    .scroll {
        height: 10vh;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }
    


}

